:root {
  --transparent-background: rgba(0, 0, 0, 0.08);
  --background: #e9ebec;
  --text: #171b1c;
  --primary: #b6adaa;
  --secondary: #e1d4d0;
  --accent: #746763;
}

body {
  color: var(--text);
}

body, header, footer {
  background-color: var(--background)
}

header, footer {
  border-color: var(--primary);
}

input[type="radio"] + label  {
  background-color: var(--transparent-background);
}

input[type="radio"]:checked + label  {
  background-color: var(--secondary);
}

.source-info fieldset {
  background-color: var(--transparent-background);
}

button {
  background-color: var(--primary);
}

button:active {
  opacity: 0.7;
}

button:hover {
  box-shadow: 0px 3px 10px 1px var(--primary);
}
