body {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: 'mulish', sans-serif;
}

h1, h2, h3 {
  user-select: none;
  font-family: 'nova square', sans-serif;
  margin: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  font-size: x-small;
  align-items: center;
  padding: 0.75em;
  border-radius: 15px;
  margin-right: 5px;
  user-select: none;
  transition: all 0.35s;
  transition-property: font-size, padding;
}

input[type="radio"]:checked + label  {
  font-size: medium;
}

header {
  border-bottom: solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 1;
}

footer {
  border-top: solid 1px;
  width: 100%;
  margin: 20px 0pc 0px 0px;
}

.type-selection {
  height: 50px;
  margin: 10px 0px;
}

button {
  cursor: pointer;
  padding: 0.75em;
  border-radius: 15px;
  border: none;
  user-select: none;
  transition: all 0.15s;
  transition-property: transform, box-shadow;
}

button:hover {
  transform: translate(0, -3px);
}

main {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
