body {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: 'mulish', sans-serif;
}

h1, h2, h3 {
  font-family: 'nova square', sans-serif;
  margin: 10px;
}

header {
  border-bottom: solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

footer {
  border-top: solid 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
