:root {
  --background: #e9ebec;
  --text: #171b1c;
  --primary: #b6adaa;
  --secondary: #cdd3d5;
  --accent: #746763;
}

body {
  margin: 100px 0px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: 'mulish', sans-serif;
}

h1, h2 {
  font-family: 'nova square', sans-serif;
}

header {
  background-color: var(--background);
  border-bottom: solid 1px var(--primary);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content:space-around;
}

footer {
  background-color: var(--background);
  border-top: solid 1px var(--primary);
  width: 100%;
  position: absolute;
  bottom: 0;
}
