.type-selection {
  position: relative;
  right: 30px;
}

.source-info {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

.source-info fieldset {
  width: 100%;
  border: none;
  padding: 20px 35px;
  border-radius: 35px;
  display: inline-flex;
  gap: 20px;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

.source-info fieldset h2 {
  margin: 0px;
  text-align: center;
}

.data-input {
  width: 100%;
  display: inline-flex;
}

.data-input input {
  font-family: 'mulish', sans-serif;
  width: 100%;
  height: 2em;
  border: none;
  border-radius: 5px;
}

.data-input input::placeholder {
  font-family: 'mulish', sans-serif;
}

.citation-output {
  display: flex;
  flex-direction: column;
}

.citation-output h2 {
  position: relative;
  right: 40px;
}

.citation-output output {
  width: 100%;
  border-radius: 20px;
  padding: 20px 0px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
}
